# Ignore virtual environment
venv/
.env/

# Ignore macOS system files
.DS_Store

# Ignore PyCharm project files
.idea/

# Ignore Visual Studio Code settings
.vscode/

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore logs
*.log

# Ignore temporary files
*.tmp

# Ignore the downloads directory
downloads/
